@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@import "tailwindcss";

/* html {
    height: 100%;
    background-image: url("./logos/");
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: cover;
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #101828;
    color: #fff;
}

.container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.rce-mbox--left {
    background-color: #007bff !important; /* Blue background */
    color: #ffffff !important;           /* White text */
    border: none !important;
}